.App {  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
  margin-top: 30px;
  margin: 0;
  padding: 0 0 30px 0;

  min-height: 100vh;

  background-image: url(./assets/img/svg/bg_image.svg);
}

button {
    box-shadow: 2px 2px 2px rgba(69, 69, 69, 0.435);
}

button:active{
  transform: translate(0%, 3%);
  box-shadow: 2px 2px 2px rgba(29, 29, 29, 0.435);
}


.button__post-user{
  padding: 8px 15px;
  margin-top: 20px;
  
  border: none;
  border-radius: 5px;
  
  font-size: 15px;
  color: white;

  background-color: #555a88;
}

.button__post-user:hover{
  background-color: #7980c2;
  cursor: pointer;
  transition: 0.1s;
}
.button__post-user:active{
  background-color: #d6a4a2;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-of-user{
  padding: 20px;
  background-color: rgb(253, 253, 253);
  box-shadow: 3px 3px 3px rgb(193, 193, 193);

  color: rgb(92, 90, 90);
  border-radius: 12px;
  width: 200px;
}

.card-of-user:hover{
  transform: translate(0%, -2%);
  box-shadow: 3px 3px 3px rgb(142, 142, 142);

  transition: 0.4s;
}

.card-of-user button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.435);
}

.fa-solid{
  color:rgb(109, 76, 114);
}

.fa-solid:hover{
  color: rgb(227, 201, 229)
}

.form__container{
  background-color: #8EC5FC;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items:flex-end;
  gap: 5px;

  padding: 15px;

  transition: 0.2s;
}


